/* colors
================================================== */

// colors theme 01 - original
$primary: rgba(70,173,38,1) !default;
$secondary: #161b33 !default;
$light-color: #AEB1C0;
$light-color2: rgb(129, 132, 150);
$bg-light: rgba(247,247,247,1);
$theme-greylight: #dadada;
$theme-greymiddle: #716f73;
$theme-greywhite: #fbfbfb;
$theme-greydark: #393e46;
$theme-grey: rgb(86, 90, 112);

/*
// colors theme 02 - green 01
$primary: #239d60 !default;
$secondary: #a3de83 !default;
$theme-grey: #232931;
$theme-greydark: #393e46;
$theme-greylight: #dadada;
$theme-greymiddle: #716f73;
$theme-greywhite: #fbfbfb;
*/

/*
// colors theme 03 - green 02
$primary: #7fb414 !default;
$secondary: #a0e418 !default;
$theme-grey: #232931;
$theme-greydark: #393e46;
$theme-greylight: #dadada;
$theme-greymiddle: #716f73;
$theme-greywhite: #fbfbfb;
*/

/*
// colors theme 04 - red 01
$primary: #e9290f !default;
$secondary: #ff6107 !default;
$theme-grey: #3a3a59;
$theme-greydark: #555574;
$theme-greylight: #dadada;
$theme-greymiddle: #716f73;
$theme-greywhite: #fbfbfb;
*/

/*
// colors theme 05 - red 02
$primary: #db3b61 !default;
$secondary: #ef3f61 !default;
$theme-grey: #3a3a59;
$theme-greydark: #555574;
$theme-greylight: #dadada;
$theme-greymiddle: #716f73;
$theme-greywhite: #fbfbfb;
*/

/*
// colors theme 06 - blue
$primary: #0960bd !default;
$secondary: #429ffd !default;
$theme-grey: #011f3f;
$theme-greydark: #393e46;
$theme-greylight: #dadada;
$theme-greymiddle: #716f73;
$theme-greywhite: #fbfbfb;
*/

/*
// colors theme 07 - yellow
$primary: #f7aa00 !default;
$secondary: #2d4059 !default;
$theme-grey: #011f3f;
$theme-greydark: #393e46;
$theme-greylight: #dadada;
$theme-greymiddle: #716f73;
$theme-greywhite: #fbfbfb;
*/

/*
// colors theme 08 - pink
$primary: #ee046c !default;
$secondary: #fcac0c !default;
$theme-grey: #3e3e3e;
$theme-greydark: #393e46;
$theme-greylight: #dadada;
$theme-greymiddle: #716f73;
$theme-greywhite: #fbfbfb;
*/

$success: #5cb85c !default;
$info: #5bc0de !default;
$warning: #f0ad4e !default;
$danger: #d9534f !default;

$nav-hover: #bbb;

/* ---- */

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee

$btn-default-color: #333 !default;
$btn-default-bg: #fff !default;
$btn-default-border: #ccc !default;

$btn-primary-color: #fff !default;
$btn-primary-bg: $primary !default;
$btn-primary-border: darken($btn-primary-bg, 5%) !default;

$btn-secondary-color: #fff !default;
$btn-secondary-bg: $secondary !default;
$btn-secondary-border: darken($btn-secondary-bg, 5%) !default;

$btn-success-color: #fff !default;
$btn-success-bg: $success !default;
$btn-success-border: darken($btn-success-bg, 5%) !default;

$btn-info-color: #fff !default;
$btn-info-bg: $info !default;
$btn-info-border: darken($btn-info-bg, 5%) !default;

$btn-warning-color: #fff !default;
$btn-warning-bg: $warning !default;
$btn-warning-border: darken($btn-warning-bg, 5%) !default;

$btn-danger-color: #fff !default;
$btn-danger-bg: $danger !default;
$btn-danger-border: darken($btn-danger-bg, 5%) !default;

$btn-link-disabled-color: $gray-light !default;

$input-border-focus: $btn-primary-color !default;
