/*!
 * Bootstrap v4
 */

/* important variables
================================================== */

$grid-columns: 12;
$grid-gutter-width: 30px;

$border-radius:    0 !default;
$border-radius-lg: 0 !default;
$border-radius-sm: 0 !default;


// use higher zindex, to avoid edit marker to be shown
$zindex-modal-background: 100040 !default;
$zindex-modal: 100050 !default;

@mixin transition-performance() {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* - BS3 variables - */

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

/* react-slick
================================================== */

$slick-loader-path: "~slick-carousel/slick/";
$slick-font-path: "~slick-carousel/slick/fonts/";

@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

/* logo versions
================================================== */

/* $logo-white: url(../images/scrivito_logo_white.svg); */
/* $logo-dark: url(../images/scrivito_logo.svg); */


/* imports
================================================== */
@import "_colors";
@import "bootstrap/bootstrap";
@import "_social_cards";
@import "_grid_layout_editor";
@import "_icon_editor";
@import "main";
@import "boxes";
@import "_faq";
@import "_greatfeatures";

/* fonts
================================================== */
@import "_fontawesome";
@import "_pt_sans_narrow";
@import "_source_sans_pro";

/* gutter with zero space
================================================== */

.gutter0 {
  padding-left: 0px;
  padding-right: 0px;
}
.gutter0 .row {
  margin-left: 0px;
  margin-right: 0px;
}
.gutter0 .row > [class^="col-"],
.gutter0 .row > [class*=" col-"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gutter10 {
  padding-left: 5px;
  padding-right: 5px;
}
.gutter10 .row {
  margin-left: -5px;
  margin-right: -5px;
}
.gutter10 .row > [class^="col-"],
.gutter10 .row > [class*=" col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

/* button adaoptions
=================================================================== */

.btn {
  border-radius: 28px;
  font-size: 18px;
  font-weight: 400;
  vertical-align: middle;
  padding: 13px 20px 10px;
  border-style: none;
  width: 246px;
  height: 56px;
  background-color: $primary;
}

.btn .fa {
  padding: 0 0 3px 15px;
  font-size: 26px;
  vertical-align: middle;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  color: #fff;
  .fa {
    color: #fff;
  }
}
.btn-link .fa {
  color: $theme-grey;
}

.btn-clear {
  color: $theme-greydark;
  padding-left: 0;
  padding-right: 0;
}
.btn-clear .fa {
  color: $primary;
}
.btn-clear:hover,
.btn-clear:active,
.btn-clear:focus {
  box-shadow: none !important;
}

.btn-white-transparent {
  background: rgba(255, 255, 255, 0.1);
  color: $secondary;
}
.btn-white-transparent:hover {
  background: rgba(255, 255, 255, 0.2);
}
.btn-round {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}
.btn-round i {
  font-size: 33px;
  line-height: 50px;
}

.btn-round:hover {
  cursor: pointer;
}
.bg-dark-image .btn-round {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin: 0 0 0 -25px;
}

#btn-1254 {
  width: 100%;
  border: 1px solid $light-color;
  color: $secondary;
  font-family: "Proxima Nova RG", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  max-width: 185px;
  height: 50px;
  border-radius: 40px;
  background-color: #fff;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
}

/* cards
=================================================================== */

.card {
  border-radius: 4px;
  box-shadow: 0px 4px 20px 0 rgba(23 , 42 ,89 , 0.17);
  margin-bottom: 1.5rem;
  /*padding-top: 1.5rem;*/
  padding-bottom: 1.5rem;
}

.card-body h5 {
  font-weight: 700;
  font-size: 16px;
}

.card-body p {
  font-size: 16px;
  color: rgb(140, 142, 157);
}

/* animated hamburger
=================================================================== */

$speed: 200ms;
$easing: cubic-bezier(0.7, 0, 0, 0.7);

.navbar-toggler {
  .icon-bar {
    transition: opacity, top, transform;
    transition-duration: $speed;
    transition-timing-function: $easing;
    transition-delay: 0, $speed, 0;
    position: relative;
    top: 0;
  }
  &:not(.collapsed) {
    .icon-bar {
      transition-delay: 0, 0, $speed;

      &:nth-child(2) {
        top: 7px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        opacity: 0;
      }
      &:nth-child(4) {
        top: -9px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

/* video background
=================================================================== */
.video-full-screen {
  min-width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  z-index: -10;
}

/* titles of modules
=================================================================== */

.title-bgc {
  background-color: $secondary;
  padding: 3rem;
  h1 {
    color: #fff;
    margin-bottom: 0;
  }
  span {
    color: #fff;
  }
}

.details-title-box {
  margin: 1rem 0;
  i.fa {
    width: 20px;
    margin-right: 10px;
    font-size: 15px;
    text-align: center;
    color: #fff;
  }
  .font-weight-bold {
    margin-right: 0.25rem;
  }
  h2, div {
    color: #fff;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .location-title {
    margin-top: 10px;
    h2 {
      margin-bottom: 0;
      text-transform: uppercase;
    }
    .event-info {
      margin-left: 1.9rem;
    }
  }
}



/* sections
=================================================================== */

.bg-dark-image,
.bg-grey,
.bg-greydark,
.bg-greylight,
.bg-greymiddle,
.bg-greywhite,
.bg-white,
.bg-brand-primary,
.bg-brand-secondary {
  padding: 60px 0;
  clear: both;
  position: relative;
}

.bg-dark-image,
.bg-grey,
.bg-greydark,
.bg-greylight,
.bg-greymiddle,
.bg-greywhite,
.bg-white {
  &.medium-height {
    min-height: 300px;
  }
  &.min-height {
    min-height: 150px;
  }
}
@media (max-width: $screen-xs-max) {
  .bg-dark-image,
  .bg-grey,
  .bg-greydark,
  .bg-greylight,
  .bg-greymiddle,
  .bg-greywhite,
  .bg-white {
    &.min-height,
    &.medium-height {
      min-height: 0;
    }
  }
}

.nav-only {
  padding: 0 !important;
  height: 75px;
}

.bg-brand-primary {
  background: $primary;
}
.bg-brand-secondary {
  background: $secondary;
}

.bg-dark-image {
  background: $theme-greymiddle;
}
.bg-grey {
  background: $theme-grey;
}
.bg-greylight {
  background: $theme-greylight;
}
.bg-greydark {
  background: $theme-greydark;
}
.bg-greymiddle {
  background: $theme-greymiddle;
}
.bg-greywhite {
  background: $theme-greywhite;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* content adaptions */

.bg-dark-image,
.bg-brand-primary,
.bg-brand-secondary,
.bg-grey,
.bg-greydark,
.bg-greymiddle {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  .table-features,
  .card.card-theme,
  .edit-mode-link {
    color: #fff !important;
  }
}

footer {
  .bg-dark-image,
  .bg-brand-primary,
  .bg-brand-secondary,
  .bg-grey,
  .bg-greydark,
  .bg-greymiddle {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    .table-features,
    ul li a,
    ul li span,
    address,
    address a {
      color: #fff !important;
    }
  }
}

.bg-brand-primary,
.bg-brand-secondary {
  .fa {
    color: #fff !important;
  }
}

/* content align */

.full-height {
  display: flex;
  min-height: 100vh;
}
.medium-height .container,
.full-height .container {
  margin: auto !important;
}
.medium-height,
.height-center {
  display: flex;
  text-align: center;
}
.height-center .container {
  margin: auto !important;
}

/* nav section adaptions */
section.navbar-fixed {
  padding-top: 80px;
  overflow: hidden;
}

/* navbar
=================================================================== */

.navbar {
  padding: 0;
  min-height: 75px;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}
.navbar-brand {
  /* background: $logo-dark no-repeat center center / contain; */
  width: 120px;
  @extend .text-hide;
  height: 75px;
  padding: 25px 0;
}
.navbar-brand img {
  margin: 0;
}



.nav { margin: 0; }
.nav.navbar-right { margin-left: auto; margin-right: 45px; }

.nav  > li,
.nav  > li > a {
  position: relative;
  display: block;
}
.navbar-nav > li > a {
  height: 75px;
  position: relative;
  padding: 25px 15px!important;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: $theme-greydark;
  display: inline-block;
}



.nav > li:hover > a,
.nav > li:focus > a {
  background: transparent;
}
.nav > li.open > a,
.nav > li.open > .menu-toggle {
  background: $nav-hover !important;
  color: #fff !important;
}


.nav li.active > a,
.nav li.active > .menu-toggle {
  background: $primary !important;
  color: #fff !important;
}


.nav > li > .dropdown-menu {
  border-radius: 0;
  border: none;
  left: 50%;
  margin-top: 0px;
  right: auto;
  text-align: left;
  position: absolute !important;
  transform: translate(-50%, 20px);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1), 0 -20px 10px rgba(44, 44, 44, 0.04);
  padding: 10px;
  font-size: 14px;
}

.nav > li > .dropdown-menu:before {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
}
.nav > li > .dropdown-menu:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.nav .dropdown-menu > li > a {
  color: $theme-grey;
  padding: 5px 10px!important;
  text-align: center;
}

.nav .dropdown-menu > li > a:hover,
.nav .dropdown-menu > li > a:focus {
  background: $nav-hover;
  color: #fff;
}
.nav .dropdown-menu > li.active > a:hover,
.nav .dropdown-menu > li.active > a:focus {
  background: $primary;
  color: #fff;
}
.open > .dropdown-menu {
  display: block;
}

.navbar-transparent {
  background: transparent;
  @include transition(all 0.3s ease-in-out);
  box-shadow: none;
}
/* .bg-dark-image .navbar-brand { background: $logo-white no-repeat center center / contain; } */
.bg-dark-image .nav > li > a {
  color: #fff !important;
}

/* .scrolled.bg-dark-image .navbar-brand { background: $logo-dark no-repeat center center / contain; } */

.scrolled .navbar {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.scrolled.bg-dark-image .navbar-nav > li > a {
  color: $theme-greydark !important;
}
.scrolled.bg-dark-image .navbar-nav > li.active > a {
  color: #fff !important;
}

.navbar-toggler {
  float: left;
  margin: 0;
  padding: 9px 20px;
  height: 75px;
  border: none !important;
  border-radius: 0;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  background: transparent !important;
}

.navbar-toggler:not(.collapsed) {
  background: #fff !important;
}
.navbar-toggler:not(.collapsed) .icon-bar {
  background: $secondary !important;
}

.navbar-toggler .icon-bar {
  display: block;
  height: 2px;
  border-radius: 1px;
  background: $secondary;
  width: 30px;
}
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 6px;
}

.bg-dark-image .navbar-toggler .icon-bar {
  background: #fff;
}
.scrolled.bg-dark-image .navbar-toggler .icon-bar {
  background: $secondary;
}

/* menu toggle */

.menu-toggle {
  display: block;
  float: right;
  margin-left: -10px;
  width: 35px;
}
.menu-toggle:hover {
  cursor: pointer;
}
.menu-toggle .fa {
  display: block;
  height: 75px;
  width: 35px;
  line-height: 75px;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  color: $primary;
  @include transition(transform 0.2s ease-in-out);
}
.menu-toggle:hover .fa {
  color: darken($primary, 15%);
}
.active .menu-toggle .fa {
  color: #fff;
}
.open .menu-toggle .fa {
  color: #fff;
  transform: rotate(180deg);
}

.nav > li.open > .menu-toggle {
  background: $nav-hover !important;
  color: #fff !important;
}
.nav > li.active > .menu-toggle {
  background: $primary !important;
  color: #fff !important;
}
.scrolled.bg-dark-image .nav > li.active > a,
.scrolled.bg-dark-image .nav > li.open > a {
  color: #fff !important;
}





/* search toggle + input */

.navbar-search-toggle {
  position: absolute;
  top: 0;
  right: 10px;
  display: block;
  height: 75px;
  width: 50px;
  padding: 23px 0;
  text-align: center;
}

.navbar-search-toggle:hover {
  cursor: pointer;
}
.navbar-search-toggle.disabled:hover {
  cursor: auto;
}
.navbar-search-toggle .fa {
  font-size: 22px;
  padding: 0;
  color: $secondary;
}
.navbar-search-toggle.disabled .fa {
  color: $btn-link-disabled-color;
}
.navbar-search-toggle:after {
  font-size: 18px;
  content: "|";
  color: #ddd;
  position: absolute;
  top: 22px;
  left: -9px;
}

.navbar-header,
.navbar-collapse,
.search-box {
  @include transition(all 0.2s ease-in-out);
}

.search-box {
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 5px;
  left: 20px;
  z-index: -1;
}
.show-search .search-box {
  opacity: 1;
  z-index: 1;
}
.show-search .navbar-header,
.show-search .navbar-collapse {
  opacity: 0;
}
.show-search .navbar-search-toggle { display: none; }

.search-box .form-control {
  background: #e9e9e9;
  border-radius: 50px 0 0 50px;
  border: 0px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
}
.search-box .btn-search {
  border-radius: 0 50px 50px 0 !important;
  background: $secondary;
  border-color: $secondary;
  padding: 3px 10px;
  min-height: 36px;
  margin: 0;
}
.search-box .btn-search .fa {
  font-size: 16px;
  padding: 0 0 4px 0;
  color: #fff;
  text-align: center;
}

.search-box .btn-clear-white {
  background: transparent;
  border-color: transparent;
  padding: 0 10px;
  min-height: 36px;
  margin: 0;
}
.search-box .btn-clear-white .fa {
  font-size: 20px;
  padding: 0 0 3px 0;
  color: $secondary;
  text-align: center;
}

/* -- */

@media (min-width: $screen-lg-min) {
  .navbar .container {
    padding: 0 40px;
    max-width: 100%;
  }
}
@media (max-width: $screen-md-max) {
  .navbar-search-toggle:after {
    display: none;
  }
}
@media (max-width: $screen-md-min) {

  .fixed-top .navbar-collapse,
  .fixed-bottom .navbar-collapse {
    max-height: calc(100vh - 76px);
    width: 100%;
    overflow-y: auto;
  }

  .navbar-header { width: 100%; }

  .navbar-search-toggle .fa {
    font-size: 28px;
  }
  .navbar-brand {
    float: none;
    display: block;
    padding: 20px 0;
    margin: 0 auto;
    width: 145px;
  }

  .nav {
    margin: 0!important;
    padding: 20px 15px;
    background: #fff;
  }
  .nav > li > a,
  .bg-dark-image .nav > li > a {
    color: $theme-greydark !important;
    display: block;
  }
  .bg-dark-image .nav > li.active > a,
  .bg-dark-image .nav > li.open > a {
    color: #fff!important;
  }

  .navbar-collapse {
    padding: 0;
    border: 0;
  }

  .nav > li:hover > ul {
    display: none;
  }
  .open > .dropdown-menu {
    display: block !important;
  }

  .navbar-nav > li > a {
    height: auto;
    padding: 13px 20px!important;
    font-weight: 300;
    font-size: 24px;
    text-transform: none;
    border-top: 1px solid #eee;
    text-align: left;
  }
  .nav > li:first-child > a {
    border: 0;
  }

  .nav > li > .dropdown-menu {
    left: auto;
    margin-top: 0px;
    right: auto;
    text-align: left;
    transform: none;
    padding: 10px;
  }
  .nav > li > .dropdown-menu:before,
  .nav > li > .dropdown-menu:after {
    display: none;
  }
  .nav .dropdown-menu > li > a {
    text-align: left;
    padding: 10px 20px;
  }

  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background: #bbb !important;
    color: #fff !important;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .nav .open .dropdown-menu {
    box-shadow: none;
    padding: 0;
    position: static !important;
  }
  .nav .open .dropdown-menu a {
    border-top: 1px solid #eee;
    font-size: 17px;
    padding: 13px 20px !important;
  }
  .navbar-search-toggle:after {
    display: none;
  }

  /* menu toggle */

  .menu-toggle {
    background: transparent!important;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    padding: 0;
  }
  .menu-toggle:hover {
    cursor: pointer;
  }
  .menu-toggle .fa {
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 26px;
    text-align: center;
    margin: 0 auto;
    color: $primary;
    @include transition(all 0.2s ease-in-out);
  }
  .menu-toggle:hover .fa {
    color: darken($primary, 50%);
  }
  .active .menu-toggle .fa {
    color: #fff;
  }
  .open .menu-toggle .fa {
    color: #fff;
    transform: rotate(180deg);
  }

  .nav > li.active > .menu-toggle,
  .nav > li.open > .menu-toggle {
    background: transparent !important;
  }
}

/* special navbar
=================================================================== */

.bg-nav-content {
  height: 0;
  position: relative;
  z-index: 1000;
}
.bg-nav-content .nav-centered .nav-item {
  margin-top: -30px;
}
.negative-margin-top .nav {
 padding: 0;
 transform: translate(-0,-30px);
}


.nav-centered .nav-pills .nav-item {
  border: 10px solid #fff;
  border-left: 0;
}
.nav-centered .nav-pills .nav-item:first-child {
  border-left: 10px solid #fff;
}

.nav-centered .nav-pills .nav-link {
  background: #fff;
  border-radius: 0;
  padding: 10px 15px;
  color: $theme-greydark;
  border: 1px solid $theme-greylight;
  text-transform: uppercase;
}

.nav-centered .nav-pills .active .nav-link {
  border: 1px solid $primary;
}


.nav-centered select {
  background: #fff;
  border: 5px solid #fff;
  box-shadow: 0 0 0 1px $theme-greylight inset;
  border-radius: 0;
  outline: none;
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
  display: block;
  font-size: 15px;
  line-height: 20px;
  margin: -20px 0 0 0;
  padding: 8px 12px;
  position: relative;
  width: 100%;
  z-index: 2;
}

@media (max-width: 575px) {
  .nav-centered.select-icon { position: relative; }
  .nav-centered.select-icon:after {
    content: "";
    z-index: 3;
    display: block;
    position: absolute;
    top: 12px;
    right: 20px;
    border-right: 2px solid #333;
    border-top: 2px solid #333;
    height: 14px;
    width: 14px;
    transform: rotate(135deg);
    click-events: none;
  }
  .nav-centered .nav {
    border: none;
  }
  .nav-centered .nav li {
    margin: 3px !important;
  }
}

/* special input-group
=================================================================== */

.nav-centered .input-group {
  border: 10px solid #fff;
  max-width: 800px;
  margin: 0 auto ;
  transform: translate(0, -25px);
}
.nav-centered .input-group .form-control {
  height: 51px;
  padding: 13px 20px 10px;
}
.nav-centered .input-group .btn .fa {
  font-size: 22px;
}
@media (max-width: $screen-xs-max) {
  .nav-centered .input-group .btn .fa {
    padding-left: 0;
  }
}

/* nav-landing-page
=================================================================== */

.nav-landing-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  text-align: center;
}
.nav-landing-page .navbar-brand {
  float: none;
  margin: 0 auto;
  padding: 0;
}
.nav-landing-page .navbar-brand img {
  width: 120px;
  margin: 0 auto;
  padding: 25px 0;
}

@media (max-width: $screen-md-min) {
  .nav-landing-page .navbar-brand img {
    width: 145px;
    margin: 0 auto;
    padding: 20px 0;
  }
}

/* result item
=================================================================== */

.result-item {
  margin: 20px 0;
  padding-bottom: 20px;
  overflow: hidden;
  border-bottom: 1px solid $theme-greylight;
}
.result-item .result-image {
  display: table-cell;
  vertical-align: top;
  width: 150px;
  text-align: center;
  padding: 0 20px 0 0;
}
.result-item .result-image img {
  width: 150px;
  max-width: none;
}

.result-item .result-content {
  display: table-cell;
  vertical-align: top;
  padding: 0 20px 0 0;
  width: 10000px;
}
.result-item .result-content {
  .h3,
  p {
    margin-bottom: 5px;
  }
}

.result-item .result-options {
  display: table-cell;
  vertical-align: middle;
  min-width: 100px;
}

@media (max-width: $screen-xs-max) {
  .result-item .result-image,
  .result-item .result-content,
  .result-item .result-options {
    display: block;
    width: 100%;
    padding: 0;
  }
  .result-item .result-image,
  .result-item .result-image img {
    width: 100%;
  }
}

/* quote
=================================================================== */

.quote-headline {
  color: $secondary !important;
  font-size: 200px;
  line-height: 0;
  margin: 65px 0 0 0;
  vertical-align: middle;
}
.quote-portrait-wrapper {
  text-align: center;
  height: 75px;
}
.quote-portrait-wrapper a {
  display: inline-block;
  vertical-align: middle;
}
.quote-portrait-wrapper a .image {
  width: 40px;
  height: 40px;
  @include transition(all 0.3s ease-in-out);
  display: block;
  border-radius: 50%;
  border: 3px solid rgb(188, 188, 188);
  margin: 5px;
}
.quote-portrait-wrapper a:hover .image,
.quote-portrait-wrapper .slick-active .image {
  width: 75px;
  height: 75px;
}

.quote-portrait-wrapper li {
  position: relative;
  display: inline-block;
}

/* fact
=================================================================== */

.fact {
  padding: 30px 0;
}
.fact .value,
.fact .key {
  display: block;
  text-align: center;
}

.fact .value {
  color: $secondary;
  font-size: 80px;
  line-height: 80px;
  font-family: "PT Sans Narrow";
  font-weight: 700;
}
.fact .key {
  color: $theme-greydark;
  font-size: 18px;
  line-height: 22px;
}

.bg-grey,
.bg-greymiddle,
.bg-greydark,
.bg-dark-image {
  .fact .key {
    color: $theme-greylight;
  }
}

.bg-brand-primary .fact .value,
.bg-brand-secondary .fact .value {
  color: #fff;
}

.fact span:empty {
  min-width: 20px !important;
  display: block;
  background: rgba(0, 255, 0, 0.2);
}

/* gallery-box with zoom hover + filter gallery
=================================================================== */

.gallery-box-wrapper {
  padding: 0 15px;
}
.gutter0 .gallery-box-wrapper {
  padding: 0;
}
.gallery-box {
  overflow: hidden;
}
.gallery-box-image:before {
  content: "";
  display: block;
  padding-top: 80%;
}
.gallery-box-image {
  @include transition(all 0.5s ease-in-out);
  @include transition-performance;
}
.gallery-box:hover .gallery-box-image {
  transform: scale(1.2);
}
.gallery-box-content-wrapper {
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
/*  display: flex;
  justify-content: center;
  align-items: center; */
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  width: 100%;
  height: 100%;
  background: rgba($primary, 0.7);
  @include transition(all 0.5s ease-in-out);
}
.gallery-box-content-wrapper:hover {
  text-decoration: none;
}

.gallery-box:hover .gallery-box-content-wrapper {
  opacity: 1;
}

.gallery-box .gallery-box-content {
  color: #fff;
}
.gallery-box .gallery-box-content * {
  display: block;
  color: #fff;
  text-align: center;
}
.gallery-box .gallery-box-content .fa {
  font-size: 60px;
  padding: 10px 0;
}
.gallery-box .gallery-box-content .title {
  font-size: 22px;
  padding: 2px 0;
}
.gallery-box .gallery-box-content .subtitle {
  font-size: 14px;
  line-height: 1.3;
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 10px;
}

@media (max-width: $screen-sm-min) {
  .gallery-box .gallery-box-content .fa {
    font-size: 40px;
  }
  .gallery-box .gallery-box-content .title {
    font-size: 18px;
  }
  .gallery-box .gallery-box-content .subtitle {
    font-size: 12px;
    position: static;
  }
}

/* filter gallery */

.gallery-box {
  max-height: 800px;
  max-width: 800px;
  opacity: 1;
  @include transition(all 0.5s ease-in-out);
  @include transition-performance;
}
.squeezed {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

/* timeline for blog
=================================================================== */

.timeline {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 1px;
  background-color: #eee;
  left: 50%;
  margin-left: -0.5px;
}
.timeline > li {
  margin: 15px 0 30px 0;
  padding: 0 60px 0 0;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
  @include clearfix;
}
.timeline > li:nth-child(odd) {
  float: right;
  clear: right;
  margin: 90px 0 20px 0;
  padding: 0 0 0 60px;
}
.timeline > li.timeline-divider + li:nth-child(even) {
  margin: 15px 0 30px 0;
}
.timeline > li.timeline-divider + li:nth-child(odd) {
  margin: 90px 0 20px 0;
}
.timeline > li.timeline-divider {
  background: #fff;
  margin: 20px 0;
  padding: 20px 0;
  width: 100%;
  float: none;
  overflow: hidden;
  clear: both;
}
.timeline > li.timeline-divider time {
  display: block;
  text-align: center;
  margin: 0;
  @extend .h4;
  color: $theme-greymiddle !important;
}
.timeline > li > .timeline-panel {
  width: 100%;
  float: left;
  border: 1px solid #eee;
  position: relative;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 44px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #eee;
  border-right: 0 solid #eee;
  border-bottom: 15px solid transparent;
  content: "";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 45px;
  right: -13px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: "";
}
.timeline > li:nth-child(odd) > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li:nth-child(odd) > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 62px;
  border: 10px solid #fff;
  display: block;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 20px;
  right: -40px;
  background: $secondary;
  z-index: 100;
  border-radius: 50%;
}
.timeline > li:nth-child(odd) > .timeline-badge {
  left: -40px;
}
.timeline-body {
  padding: 30px 30px 10px 30px;
}
.timeline-footer {
  padding: 0 30px 30px 30px;
}
.timeline-body a {
  color: $theme-grey;
}

@media (max-width: $screen-md-min) {
  .timeline:before {
    left: 40px;
  }
  .timeline > li {
    float: none !important;
    width: 100%;
    margin: 20px 0 30px 0 !important;
    padding: 0 0 0 100px !important;
  }
  .timeline > li > .timeline-badge {
    left: 0 !important;
    right: auto;
  }
  .timeline > li > .timeline-panel:before {
    border-left-width: 0 !important;
    border-right-width: 15px !important;
    left: -15px !important;
    right: auto !important;
  }
  .timeline > li > .timeline-panel:after {
    border-left-width: 0 !important;
    border-right-width: 14px !important;
    left: -13px !important;
    right: auto !important;
  }
  .timeline > li.timeline-divider {
    padding: 20px 0 !important;
  }
  .timeline > li.timeline-divider time {
    padding: 0 10px;
    text-align: left;
  }
}

@media (max-width: $screen-xs-max) {
  .timeline:before {
    display: none;
  }
  .timeline > li > .timeline-panel {
    border: none;
    border-top: 1px solid #eee;
  }
  .timeline > li > .timeline-panel:before,
  .timeline > li > .timeline-panel:after {
    display: none;
  }
  .timeline > li {
    float: none !important;
    width: 100%;
    margin: 20px 0 30px 0 !important;
    padding: 0 !important;
  }
  .timeline > li > .timeline-badge {
    position: relative;
    top: 0;
    margin: 0 auto -40px auto;
  }
  .timeline-body {
    padding: 40px 0 10px 0;
  }
  .timeline-body * {
    padding-right: 20px;
    padding-left: 20px;
  }
  .timeline-body a {
    padding-right: 0;
    padding-left: 0;
  }
  .timeline-body img {
    padding: 0;
  }
  .timeline-body img:first-of-type {
    margin-top: -40px;
  }
  .timeline-footer {
    padding: 0 20px 10px 20px;
  }
  .timeline > li.timeline-divider time {
    text-align: center;
  }
}

/* blog detail navbar
=================================================================== */

.bg-nav-content .nav-centered .nav-blog {
  display: inline-block;
  margin-top: -40px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 100%;
}
.bg-nav-content .nav-centered .nav-blog li {
  display: inline-block;
  height: 80px;
  width: 80px;
}
.bg-nav-content .nav-centered .nav-blog li:first-child {
  float: left;
}
.bg-nav-content .nav-centered .nav-blog li:last-child {
  float: right;
}

.bg-nav-content .nav-centered .nav-blog a {
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 62px;
  border: 10px solid #fff;
  display: block;
  text-align: center;
  background: $theme-greylight;
  border-radius: 50%;
}
.bg-nav-content .nav-centered .nav-blog span {
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 62px;
  border: 10px solid #fff;
  display: block;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  text-align: center;
  background: $secondary;
  border-radius: 50%;
}
.bg-nav-content .nav-centered .nav-blog .fa {
  color: #fff;
  font-size: 25px;
  line-height: 60px;
}

/* card + equeal height helper
=================================================================== */

.row.align-items-stretch .card:only-of-type { @extend .h-100;}

.social-links i {
  padding: 20px;
}

.card:not(.card-theme) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 { color: $theme-greydark; }
  p { color: $theme-greymiddle; }
}



.card-theme {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  border: 0;
}
.card-theme .card-body {
  padding: 20px 0;
}
.card-theme a:hover {
  text-decoration: none;
}

.card-theme.card-list { display: block; }
.card-theme.card-list .card-icon {
  text-align: center;
  width: 22%;
  float: left;
}
.card-theme.card-list .card-body {
  text-align: left;
  width: 78%;
  float: left;
}
.card-theme.card-list .card-body h3 {
  position: relative;
}
.card-theme.card-list .card-body h3:after {
  background: rgba(111, 111, 111, 0.2);
  left: -19px;
  top: 5px;
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  width: 1px;
}

@media (max-width: $screen-md-max) {
  .card-theme.card-list .card-icon {
    width: 25%;
  }
  .card-theme.card-list .card-body {
    width: 75%;
  }
}

@media (max-width: $screen-sm-max) {
  .card-theme.card-list .card-icon,
  .card-theme.card-list .card-body {
    text-align: center;
    width: 100%;
    float: none;
  }
  .card-theme.card-list .card-body h3:after {
    display: none;
  }
}

/* IE11 Flexbox bug with max-width */
_:-ms-fullscreen,
:root .card img {
  max-height: 200px;
  margin: 0 auto;
  display: block;
}

/* box-card
=================================================================== */

.box-card {
  display: block;
  min-height: 250px;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  outline: 4px solid transparent;
  @include transition(outline 0.5s ease-in-out);
}
.box-card:hover {
  text-decoration: none;
  outline: 4px solid $secondary;
}
.box-card .box-date {
  position: absolute;
  top: 25px;
  left: 25px;
  display: block;
  width: 60px;
  height: 60px;
  background: $secondary;
  color: #fff;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 600;
}
.box-card .box-image {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.box-card .box-topic {
  display: block;
  background: #fff;
  padding: 15px 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #eee;
  border-top: none;
}
.box-card .box-topic .fa-angle-right {
  font-size: 50px;
  position: absolute;
  display: block;
  bottom: 28px;
  right: 30px;
  color: $secondary !important;
}
.box-card .box-topic .h3 {
  margin: 0;
  color: $theme-greydark !important;
}
.box-card .box-topic span i {
  color: $secondary !important;
  padding: 0 10px 0 0;
}
.box-card .box-topic span {
  display: table;
}
.box-card .box-topic span span {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  color: $theme-greymiddle;
}
.box-card .box-topic.dark-background {
  background: transparent;
  border: none;
}
.box-card .box-topic.dark-background {
  .h3,
  span {
    color: #fff !important;
  }
}

/* gallery thumbs
=================================================================== */

.gallery-thumbs img {
  border: 7px solid #fff;
  border-left: none;
}
.gallery-thumbs [class*="col-"]:first-child img {
  border-left: 7px solid #fff;
}

.margin-neg-offset {
  margin-top: -4%;
}

/* pricing
================================================== */

.charts {
  padding: 40px 0;
}
.charts .chart {
  background-color: $theme-greywhite;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 50px 20px 80px 20px;
  text-align: center;
  width: 97%;
  min-height: 344px;
  position: relative;
  top: 30px;
}
.charts .chart.first {
  @media (min-width: 992px) {
    float: right;
    left: 45px;
  }
}
.charts .chart.last {
  @media (min-width: 992px) {
    left: -45px;
  }
}

.charts .chart {
  @media (max-width: 991px) {
    float: none !important;
    left: 0px !important;
    top: 0px !important;
    margin: 0 auto;
    width: 55%;
    margin-bottom: 25px !important;
  }
}
.charts .chart.last {
  @media (max-width: 991px) {
    margin-bottom: 0px !important;
  }
}
.charts .chart {
  @media (max-width: 600px) {
    width: 90% !important;
  }
}

.charts .chart.featured {
  z-index: 999;
  background: #fff;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.charts .chart.featured {
  @media (min-width: 992px) {
    margin: 0 auto;
    top: 0px;
    min-height: 430px;
  }
}

.charts .chart .plan-name {
  font-size: 13px;
  font-weight: 700;
  color: $theme-grey;
  margin: 0 auto;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.charts .chart .quantity {
  color: $theme-grey;
  margin-top: 40px;
}
.charts .chart .quantity .dollar {
  font-size: 40px;
  position: relative;
  top: -27px;
}
.charts .chart .quantity .price {
  font-size: 85px;
}
.charts .chart .quantity .period {
  color: $theme-greymiddle;
  font-size: 20px;
  position: relative;
  top: -3px;
  margin-left: 0;
}

.charts .chart .specs {
  margin: 10px 0 20px;
  font-size: 14px;
}
.charts .chart .specs .spec {
  color: $theme-greymiddle;
  margin-bottom: 5px;
}
.charts .chart .specs .variable {
  padding: 0 5px;
  font-weight: 700;
  color: $theme-grey;
}

.charts .chart.featured {
  padding-top: 75px;
}
.charts .chart.featured:after {
  content: "popular";
  color: #fff;
  background: $secondary;
  font-size: 12px;
  font-weight: 700;
  padding: 0 8px;
  border-radius: 3px;
  z-index: 12111;
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  right: 20px;
}
.charts .chart .btn {
  position: absolute;
  bottom: 30px;
  left: 20%;
  right: 20%;
  margin: 0;
}
.charts .chart .quantity span:empty,
.charts .chart .specs span:empty {
  min-width: 20px !important;
  display: inline-block;
  background: rgba(0, 255, 0, 0.2);
}

/* table-features
=================================================================== */

.table-features {
  margin: 20px 0;
  max-width: 100%;
  width: 100%;
}

.table-features th,
.table-features td {
  vertical-align: middle !important;
}
.table-features .fa {
  color: $secondary;
  font-size: 25px;
  line-height: 20px;
}

.table-features thead th {
  font-size: 13px;
  font-weight: 400;
  padding: 10px 20px;
  text-align: center;
}
.table-features thead th:first-child {
  text-align: left;
}

.table-features tbody th {
  font-size: 20px;
  font-weight: 400;
  padding: 20px;
  border-top: 2px solid rgba(99, 99, 99, 0.1);
  border-right: 2px solid rgba(99, 99, 99, 0.1);
  border-left: 2px solid rgba(99, 99, 99, 0.1);
}
.table-features tbody td {
  font-size: 15px;
  padding: 20px;
  text-align: center;
  border-top: 2px solid rgba(99, 99, 99, 0.1);
  border-right: 2px solid rgba(99, 99, 99, 0.1);
  width: 150px;
}
.table-features tbody td p {
  margin: 0;
}
.table-features tbody td b {
  font-weight: 700;
}

.table-features tbody tr:nth-child(even) th,
.table-features tbody tr:nth-child(even) td {
  background: rgba(200, 200, 200, 0.1);
}
.table-features tbody tr:hover th,
.table-features tbody tr:hover td {
  background: rgba(140, 140, 140, 0.1);
}

.table-features tfoot th {
  font-size: 20px;
  font-weight: 400;
  padding: 20px;
  border: 2px solid rgba(99, 99, 99, 0.1);
}
.table-features tfoot td {
  font-size: 14px;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  border-top: 2px solid rgba(99, 99, 99, 0.1);
  border-right: 2px solid rgba(99, 99, 99, 0.1);
  border-bottom: 2px solid rgba(99, 99, 99, 0.1);
}
.table-features tfoot th,
.table-features tfoot td {
  background: $secondary;
  color: #fff;
}

.table-features .quantity {
  margin-top: 10px;
  font-weight: 400;
}
.table-features .quantity .dollar {
  font-size: 24px;
  position: relative;
  top: -20px;
}
.table-features .quantity .price {
  font-size: 50px;
  padding: 0 3px;
}
.table-features .quantity .period {
  font-size: 14px;
  margin-left: 0;
  position: relative;
  top: -3px;
}

@media (max-width: $screen-xs-max) {
  .table-features th,
  .table-features td {
    text-align: center;
    display: block;
    width: 100% !important;
    border-top: 2px solid rgba(99, 99, 99, 0.1);
    border-right: 2px solid rgba(99, 99, 99, 0.1);
    border-left: 2px solid rgba(99, 99, 99, 0.1);
    border-bottom: 0px solid rgba(99, 99, 99, 0.1);
  }
  .table-features td:before {
    content: attr(data-th)"";
    font-size: 11px;
    font-weight: 400;
    display: block;
    line-height: 0;
    text-align: left;
  }
  .table-features thead {
    display: none;
  }
  .table-features tbody tr:nth-child(even) th,
  .table-features tbody tr:nth-child(odd) th {
    background: $secondary !important;
    color: #fff;
  }
  .table-features tbody tr:nth-child(even) td {
    background: rgba(200, 200, 200, 0.1) !important;
  }
  .table-features tbody tr:nth-child(odd) td {
    background: transparent !important;
  }
  .table-features tfoot th {
    border: none;
  }
  .table-features tfoot td {
    border-bottom: none;
  }
}

/* carousel
=================================================================== */

.carousel-images .carousel-item {
  height: 550px;
}
.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
  width: 100%;
}

@media (max-width: $screen-xs-max) {
  .carousel-images .carousel-item {
    height: 250px;
  }
}

.carousel-control {
  background: transparent !important;
  opacity: 1;
}
.carousel-control .fa {
  display: inline-block;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  z-index: 5;
  font-size: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 38px;
  color: #fff;
  background: $primary;
  text-shadow: none;
}
.carousel-control.right .fa {
  letter-spacing: -2px;
  right: 20px;
}
.carousel-control.left .fa {
  letter-spacing: 3px;
  left: 20px;
}

.carousel-control-prev, .carousel-control-prev:hover  {
  opacity: 1;
  cursor: pointer;
  .carousel-control-prev-icon {
    background-image: url("../images/arrow_prev.svg");
    height: 100px;
    width: 50px;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
  }
}

.carousel-control-next, .carousel-control-next:hover  {
  opacity: 1;
  cursor: pointer;
  .carousel-control-next-icon {
    background-image: url("../images/arrow_next.svg");
    height: 100px;
    width: 50px;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
  }
}

/* carousel + client-wrapper
=================================================================== */

.client-wrapper {
  margin-top: -50px;
}
.client-wrapper .client-logo,
.client-wrapper .client-text {
  padding: 15px;
  background: #fff;
  float: left;
}

.client-wrapper .client-logo img {
  display: block;
  margin: 0 auto;
}

.client-wrapper {
  display: flex;
  flex-direction: row;
}
.client-wrapper .client-logo,
.client-wrapper .client-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-wrapper .client-text strong {
  display: inline-block;
  margin-bottom: 10px;
  color: $theme-greydark;
}
.client-wrapper .client-text p {
  margin: 0;
}

@media (min-width: $screen-md-min) {
  .client-wrapper .client-logo {
    width: 30%;
  }
  .client-wrapper .client-text {
    width: 70%;
  }
}
@media (max-width: $screen-sm-max) {
  .client-wrapper {
    display: block;
  }
  .client-wrapper .client-logo {
    width: 60%;
    margin-left: 20%;
    text-align: center;
  }
  .client-wrapper .client-text {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: $screen-xs-max) {
  .client-wrapper .client-logo {
    width: 90%;
    margin-left: 5%;
  }
  .client-wrapper .client-text {
    width: 100%;
    text-align: center;
  }
}

/* page-list
 =================================================================== */

.page-list {
  list-style-type: none;
  padding: 0;
}
.page-list,
.page-list li,
.page-list li a,
.page-list li span {
  display: block;
  color: $theme-greydark;
}

.page-list-headline,
.page-list .b-bottom {
  color: $theme-greydark;
  text-align: left;
  padding: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.page-list-headline:after,
.page-list .b-bottom:after {
  left: 0;
  margin: 0;
}

.page-list-headline {
  @extend .b-bottom;
}

.page-list a,
.page-list a:hover,
.page-list a:focus {
  text-decoration: none;
}

.bg-dark-image,
.bg-brand-primary,
.bg-brand-secondary,
.bg-grey,
.bg-greydark,
.bg-greymiddle {
  .page-list li a,
  .page-list li span {
    color: #fff;
  }
}

/* footer
=================================================================== */

footer {
  [class*="bg-"]:first-of-type {
    padding: 60px 0;
  }

  a,
  a:hover,
  a:focus {
    color: $theme-greydark;
    text-decoration: none;
  }

  table td {
    padding: 0 5px 0 0;
  }

  .social-links {
    padding: 20px 0;
  }
  .social-links i {
    font-size: 20px;
    padding: 0 20px;
  }
}

/*  sticky footer for react world
=================================================================== */

body,
#application {
  height: 100%;
  padding: 0;
  margin: 0;
}
#application > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content-wrapper {
  flex: 1;
}

/* weird stuff for IE11 */

_:-ms-fullscreen,
:root #application > div {
  display: block;
}
_:-ms-fullscreen,
:root .content-wrapper {
  flex: 0;
}

/* cookie box
=================================================================== */

.cookie-box {
  width: 100%;
  background: rgba(61, 65, 66, 0.85);
  z-index: 1000000;
  padding: 25px 17% 25px 17%;
}

.cookie-content {
  color: $theme-greywhite;
  margin-right: 20px;
}

.cookie-button {
  margin: 0;
  height: 50px;
}

.cookie-box-title {
  font-weight: 700;
  font-size: 17px;
}

.cookie-box-link {
  font-weight: 700;
  text-decoration: underline;
  margin-left: 5px;
}

.cookie-box-content {
  font-size: 14px;
}

img.cookie-img {
  margin: 0;
  opacity: 0.8;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.cookie-img-box {
  margin-right: 1rem;
}

@media (max-width: $screen-md-max) {
  .cookie-box {
    padding: 25px 3.5vw;
  }
}

@media (max-width: $screen-sm-max) {
  .cookie-img-box {
    width: 77px;
  }
}

@media (max-width: $screen-xs-max) {
  .cookie-img-box {
    display: none;
  }
  img.cookie-img {
    display: none;
  }
  .cookie-content {
    margin: 0;
  }
  .cookie-button {
    width: 100%;
    margin-top: 20px;
  }
  .cookie-box {
    padding: 20px;
  }
}
/* loader
=================================================================== */

.loader {
  display: block;
  font-size: 10px;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  text-indent: -9999em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background: $secondary;
  background: -moz-linear-gradient(
    left,
    $secondary 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    $secondary 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(
    left,
    $secondary 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -ms-linear-gradient(
    left,
    $secondary 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    $secondary 10%,
    rgba(255, 255, 255, 0) 42%
  );
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: $secondary;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* slick slider override
=================================================================== */

.slick-prev {
  left: 0;
  z-index: 2;
  color: #666;
}
.slick-next {
  right: 0;
  z-index: 2;
  color: #666;
}

.slick-prev:before,
.slick-next:before {
  color: #666;
}

.bg-dark-image,
.bg-brand-primary,
.bg-brand-secondary,
.bg-grey,
.bg-greydark,
.bg-greymiddle {
  .slick-prev:before,
  .slick-next:before {
    color: #fff;
  }
}

/* slick thumb gallery
=================================================================== */

.slick-gallary-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 100px 0;
  position: relative;
}
.slick-gallary-fluid .slick-slide {
  height: 100%;
}

.slick-gallary-fluid .slick-list {
  max-height: 650px;
}
.slick-gallary-fluid .slick-slider {
  margin: 0;
  padding: 0;
  position: relative;
}
.slick-gallary-fluid .slickslide {
  padding: 0;
  max-width: 100%;
}
.slick-gallary-fluid .slick-slider .slick-track {
  min-width: 100%;
}
.slick-gallary-fluid .slickslide li img {
  width: 100%;
  height: auto;
  margin: 0;
}

.slick-gallary-fluid {
  .slick-dots {
    bottom: -60px;
    top: auto;
    left: auto;
    right: auto;
    position: absolute;
    line-height: 0;
  }
  .slick-dots li,
  .slick-dots li button:before {
    margin: 0;
    padding: 0;
  }
  .slick-dots li {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: auto;
    height: auto;
  }

  .slick-slider .slick-track {
    min-width: 100%;
  }
  .slick-dots li button {
    margin: 0;
    height: auto;
    width: 100%;
    padding: 0;
  }

  .slick-prev {
    left: 40px;
  }
  .slick-next {
    right: 40px;
  }

  .slick-dots li {
    border: 5px solid #fff;
    margin: 0;
  }
  .slick-dots li button.tab {
    clear: both;
    display: block;
  }
  .slick-dots li button .image {
    width: 180px;
    height: 270px;
    margin: 0;
  }

  .slick-dots li button:before {
    content: "";
    border: 3px solid $secondary;
    display: block;
    width: 100%;
    max-width: 180px;
    overflow: hidden;
    float: none;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .slick-thumbs {
    display: none;
  }
}

@media (min-width: $screen-md-min) {
  .slick-gallary-fluid .slick-dots {
    bottom: -60px;
  }
  .slick-gallary-fluid .slick-dots li button .image {
    max-width: 150px;
    max-height: 100px;
  }
}
@media (max-width: $screen-sm-max) {
  .slick-gallary-fluid .slick-dots {
    bottom: -40px;
  }
  .slick-gallary-fluid .slick-dots li button .image {
    max-width: 100px;
    max-height: 66px;
  }
}
@media (max-width: $screen-xs-max) {
  .slick-gallary-fluid .slick-dots {
    bottom: -20px;
  }
  .slick-gallary-fluid .slick-dots li button .image {
    max-width: 40px;
    max-height: 26px;
  }
}

/* content iframes properties
=================================================================== */
.fullsize-iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


/* section google map
=================================================================== */

.bg-map {
  overflow: hidden;
  position: relative;
  min-height: 350px;
}
.bg-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.bg-map .card {
  padding: 30px;
  margin: 40px 0 100px 0;
  background: #fff;
}
.bg-map {
  a,
  a:hover,
  a:focus {
    color: $theme-greydark;
    text-decoration: none;
  }
  .b-bottom {
    padding: 0 0 20px 0;
  }
  table td {
    padding: 0 5px 0 0;
  }
  .social-links i {
    padding: 10px 15px;
  }
}
@media (max-width: $screen-xs-max) {
  .bg-map .card {
    margin: 200px 0 -10px 0;
  }
}

/* contact form
=================================================================== */

.card.box-offset {
  background: #fff;
  padding: 80px 100px;
  margin: -120px 0 0 0;
}
@media (max-width: $screen-xs-max) {
  .card.box-offset {
    padding: 20px;
    margin: -65px 0 0 0;
  }
}

.floating-label label {
  font-size: 11px;
  line-height: 16px;
  color: #bbb;
  font-weight: 400;
  padding: 2px 5px;
  margin: 0 0 0 10px;
  background: #fff;
}
.floating-label .form-control {
  margin-top: -11px;
  border: 1px solid $theme-greylight;
}
.floating-label .form-control:focus {
  box-shadow: 0 0 0 2px $secondary;
}

.floating-label .checkbox label {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 5px 2px 20px;
  color: $theme-greymiddle;
}

/* login
=================================================================== */

.box-login {
  background: #fff;
  padding: 30px;
}
.box-login .h3 {
  color: $theme-greydark !important;
}
.box-login a {
  font-size: 13px;
  display: block;
  text-align: center;
  color: $theme-greydark;
}

/* landing page
=================================================================== */

.hr-icon {
  clear: both;
  position: relative;
  padding: 60px 0;
  text-align: center;
  height: 0;
}
.hr-icon:after {
  background: #666;
  content:'';
  position: absolute;
  top: 50%; left: 0; right: 0;
  display: block; height: 1px;
  }
.hr-icon img {
  display: inline-block;
  padding: 0 15px;
  height: 40px;
  position: relative;
  transform: translate(0, -50%);
  z-index: 1;
}

.bg-grey .hr-icon img {
  background-color: $theme-grey;
}
.bg-greylight .hr-icon img {
  background-color: $theme-greylight;
}
.bg-greydark .hr-icon img {
  background-color: $theme-greydark;
}
.bg-greymiddle .hr-icon img {
  background-color: $theme-greymiddle;
}
.bg-greywhite .hr-icon img {
  background-color: $theme-greywhite;
}
.bg-white .hr-icon img {
  background-color: #fff;
}

.bg-brand-primary .hr-icon img {
  background-color: $primary;
}
.bg-brand-secondary .hr-icon img {
  background-color: $secondary;
}

@media (max-width: 767px) {
  .text-right,
  .text-left {
    text-align: center;
  }
}

.card-padding {
  margin: 10px 0;
  padding: 30px 20px;
  width: 100%;
}
.card-padding .checkbox label {
  font-size: 13px;
  line-height: 18px;
}
.card-padding {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: $theme-grey !important;
  }
}

.bg-brand-primary,
.bg-brand-secondary,
.bg-dark-image,
.bg-grey,
.bg-greydark,
.bg-greymiddle {
  .card-white-transparent {
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    padding: 30px 20px;
    width: 100%;
  }
  .card-white-transparent label {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
  }
  .card-white-transparent .checkbox label {
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    line-height: 18px;
  }
}

.bg-greylight,
.bg-greywhite,
.bg-white {
  .card-white-transparent {
    background: rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 30px 20px;
    width: 100%;
  }
  .card-white-transparent label {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.7);
  }
  .card-white-transparent .checkbox label {
    color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
    line-height: 18px;
  }
}

/* list *
=================================================================== */

.tick-list {
  list-style-type: none;
  padding-left: 15px;
  @include clearfix;
}
.tick-list li {
  position: relative;
  padding: 0 0 20px 17px;

  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.tick-list li:before {
  display: block;
  position: absolute;
  top: 2px;
  left: -15px;
  @extend .fa;
}
.tick-list li:before {
  content: "\f00c" !important;
}

/* Text image widget ************ TBD ************
=================================================================== */
.text_image_widget {
  overflow: hidden;
}

/* floating-image ************ TBD ************
=================================================================== */

.floating-image.pull-left {
  margin: 0 20px 5px 0;
}
.floating-image.pull-right {
  margin: 0 0 5px 20px;
}

.floating-image img {
  margin: 0;
}

.width-25 {
  width: 25%;
}
.width-33 {
  width: 33%;
}
.width-50 {
  width: 50%;
}
.width-66 {
  width: 66%;
}
.width-75 {
  width: 75%;
}
.width-100 {
  width: 100%;
}

.floating-image.width-25,
.floating-image.width-33,
.floating-image.width-50,
.floating-image.width-66,
.floating-image.width-75,
.floating-image.width-100 {
  img {
    width: 100%;
  }
}

/* google maps fix
================================================== */

.gm-style img {
  max-width: none !important;
}
.gm-style label {
  width: auto;
  display: inline;
}

/* disable selection, see https://stackoverflow.com/a/4407335/881759 for details
================================================== */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* PRINT some easy adaptions
================================================== */

@media print {
  html,
  body {
    width: 800px !important;
  }
  html,
  body,
  #application {
    height: auto;
    padding: 0;
    margin: 0;
  }
  .full-height,
  #application > div {
    display: block;
    min-height: auto;
  }

  .col-md-11 {
    width: 91.66666666666666%;
    float: left !important;
  }
  .col-md-10 {
    width: 83.33333333333334%;
    float: left !important;
  }
  .col-md-9 {
    width: 75%;
    float: left !important;
  }
  .col-md-8 {
    width: 66.66666666666666%;
    float: left !important;
  }
  .col-md-7 {
    width: 58.333333333333336%;
    float: left !important;
  }
  .col-md-6 {
    width: 50%;
    float: left !important;
  }
  .col-md-5 {
    width: 41.66666666666667%;
    float: left !important;
  }
  .col-md-4 {
    width: 33.33333333333333%;
    float: left !important;
  }
  .col-md-3 {
    width: 25%;
    float: left !important;
  }
  .col-md-2 {
    width: 16.666666666666664%;
    float: left !important;
  }
  .col-md-1 {
    width: 8.333333333333332%;
    float: left !important;
  }

  .navbar-nav {
    display: none;
  }

  a[href]:after {
    display: none;
  }
  abbr[title]:after {
    display: none;
  }
}

/* RESPONSIVE
================================================== */

@media (min-width: $screen-lg-min) {
}

@media (max-width: $screen-md-max) {
}

@media (max-width: $screen-sm-max) {
}

@media (max-width: $screen-xs-max) {
  h1,
  .h1 {
    font-size: 40px;
    line-height: 50px;
  }
  h2,
  .h2 {
    font-size: 35px;
    line-height: 45px;
  }
}
